* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Nerko-One';
    src: url('./games/EbbAndFlow/assets/fonts/NerkoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}